# Test Report - Fitness4U <br />

## Component Testing <br />
In regards to individual componenets, each component in our project was tested before being integrated with the rest of the project by itself, as well as more so after being integrated with the project with even more parameters. For example, when testing the input side of the project, Jason created a python program that took input from a file, parsed through that file, and then outputted data generated from that file. Gerald craeted an Amazon EC2 web server, where our web app will be hosted, and tested this by connecting to the website from different devices and made sure that the links are working correctly. When combining these two componenets together, we have got to a point where we can have a place to input a file where data can be read and then outputted to the screen in a way that is meaningful to the user. <br /<

## System Testing <br />
Overall system testing was done via a trial run, we chose this because this would be from the view of the user, with some insight of being back-end users we were able to see issues that other user's could not see, or would not consider an error.

## Acceptence Testing <br />
We used our user stories to achieve a level of acceptence that is reasonable, but not perfect. Although there were some spots we had to sacrifice, we were able to work arund them by adding new features or increasing the quality of older features.
